<!DOCTYPE html>
<html>
  <head>
    <title>NJW Kittens API 🐱</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar">
      <div class="nav-container">
        <%= link_to "🐱 NJW Kittens", root_path, class: "nav-brand" %>
        
        <div class="nav-links">
          <%= link_to "All Kittens", kittens_path %>
          <%= link_to "Add New Kitten", new_kitten_path %>
          <%= link_to "API Docs", api_path %>
        </div>
      </div>
    </nav>

    <!-- Flash Messages -->
    <% if notice %>
      <div class="flash-message flash-notice">
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="flash-message flash-alert">
        <%= alert %>
      </div>
    <% end %>

    <!-- Main Content -->
    <main class="main-content">
      <%= yield %>
    </main>
  </body>
</html>